* {
    margin: 0; /*Remove margens e preenchimentos padrão*/
    padding: 0;
    box-sizing: border-box; /*Inclui na largura/altura dos elementos*/
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Define a fonte padrão para toda a página*/
}
body {
    height: 100vh;
    background:linear-gradient(120deg, #B0E0E6, #F8F8FF);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
form {
    width: 100%;
    max-width: 400px;
    background-color:#F8F8FF;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 30px 40px;
}
header {
    text-align: center;
    color: #4682B4;
    margin-bottom: 25px;
    font-size: 28px;
}
.campos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
label {
    font-weight: bold;
    color: #333;
}
input[type="number"],
select{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #B0E0E6;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}
input[type="number"]:focus,
select:focus {
    border-color:#4682B4;
}
button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background-color: #5A9BD6;
}